.row-rating {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.row-rating .progress {
  margin-bottom: 0;
}
.row-rating .progress-text {
  padding: 0 10px;
  color: #111;
  text-shadow: 1px 1px 0px #aaa;
}
.row-rating .btn-close {
  display: none;
}
.row-rating:hover .btn-close {
  display: initial;
  color: #bbb;
}
