<div class="col-md-12">
  <h1>{{page.name}}</h1>

  <p><a ng-href="{{page.url}}">Visit Site</a></p>
  <table class="table">
    <thead class="table-striped">
      <tr>
        <th><a ng-click="predicate = 'title';reverse = !reverse">Name</a></th>
        <th><a ng-click="predicate = 'value';reverse = !reverse">Value</a></th>
      </tr>
    </thead>
    <tr ng-repeat="s in summary | orderBy:predicate:reverse">
      <td><a href="#/properties/{{slug(s.title)}}">{{s.title}}</a></td>
      <td>{{s.value}}</td>
    </tr>
  </table>

  <h3>Ratings</h3>

  <div class="row">
    <div class="col-sm-7">Name</div>
    <div class="col-sm-2">Value</div>
    <div class="col-sm-2">Score</div>
    <div class="col-sm-1">Weight</div>
  </div>

  <div ng-repeat="group in groupRatings">

    <div class="row row-rating" >
      <div class="col-sm-7"><b>{{group.name}}</b> <a data-ng-click="show[group.name] = !show[group.name]"><span ng-show="!show[group.name]">Show More</span><span ng-show="show[group.name]">Show Less</span></a></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2"><progressbar progress="group.score"></div>
      <div class="col-sm-1"><span class="badge">{{(group.weight / totalWeight)*100 | number:1}}%</span></div>
    </div>

    <div ng-show="show[group.name]" class="row">
      <div class="col-sm-7"><a ng-click="predicate2 = 'title'; reverse2 = !reverse2">Name</a></div>
      <div class="col-sm-2"><a ng-click="predicate2 = 'value'; reverse2 = !reverse2">Value</a></div>
      <div class="col-sm-2"><a ng-click="predicate2 = 'score'; reverse2 = !reverse2">Score</a></div>
      <div class="col-sm-1"><a ng-click="predicate2 = 'weightedScore'; reverse2 = !reverse2">Weight</a></div>
    </div>

    <div ng-show="show[group.name]" class="row row-rating" data-ng-repeat="rating in group.ratings | orderBy:predicate2:reverse2">
      <div class="col-sm-7"><a href="#/ratings/{{slug(rating.title)}}">{{rating.title}}</a></div>
      <div class="col-sm-2">{{rating.value}}</div>
      <div class="col-sm-2"><progressbar progress="rating.score"></div>
      <div class="col-sm-1"><span class="badge">{{(rating.weight / totalWeight)*100 | number:1}}%</span></div>
      <div class="col-sm-12">{{rating.suggestions.join(', ')}}</div>
    </div>
  </div>

</div>