<div class="col-md-12">
  <h1>{{page.name}}</h1>

  <p>Visit Site: <a ng-href="{{page.url}}">{{page.url}}</a></p>

  <h2>Properties</h2>

  <p>Choose properties to show:</p>
  <p>
    <span ng-repeat="name in propertyNames">
      <a class="btn btn-default btn-xs" ng-show="!showProperty[name]" ng-click="showProperty[name] = !showProperty[name]">{{name}}</a>
    </span>
  </p>

  <div class="row row-rating">
    <div class="col-sm-3"><a ng-click="predicate = 'title';reverse = !reverse">Name</a></div>
    <div class="col-sm-9"><a ng-click="predicate = 'value';reverse = !reverse">Value</a></div>
  </div>

  <div class="row row-rating" ng-show="showProperty[s.title]" ng-repeat="s in summary | orderBy:predicate:reverse">
    <div class="col-sm-3"><a href="#/properties/{{slug(s.title)}}">{{s.title}}</a> <a class="glyphicon glyphicon-remove btn-close" ng-click="showProperty[s.title] = !showProperty[s.title]" title="Hide {{s.title}}"></a></div>
    <div class="col-sm-9">{{s.value}}</div>
  </div>

  <h2>Ratings</h2>

  <div class="row">
    <div class="col-sm-7">Name</div>
    <div class="col-sm-2">Value</div>
    <div class="col-sm-2">Score</div>
    <div class="col-sm-1">Weight</div>
  </div>

  <div ng-repeat="group in groupRatings">

    <div class="row row-rating" >
      <div class="col-sm-7"><b>{{group.name}}</b> <a data-ng-click="showRating[group.name] = !showRating[group.name]"><span ng-show="!showRating[group.name]">Show More</span><span ng-show="showRating[group.name]">Show Less</span></a></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2"><progressbar progress="group.score"></div>
      <div class="col-sm-1"><span class="badge">{{(group.weight / totalWeight)*100 | number:1}}%</span></div>
    </div>

    <div ng-show="showRating[group.name]" class="row">
      <div class="col-sm-7"><a ng-click="predicate2 = 'title'; reverse2 = !reverse2">Name</a></div>
      <div class="col-sm-2"><a ng-click="predicate2 = 'value'; reverse2 = !reverse2">Value</a></div>
      <div class="col-sm-2"><a ng-click="predicate2 = 'score'; reverse2 = !reverse2">Score</a></div>
      <div class="col-sm-1"><a ng-click="predicate2 = 'weightedScore'; reverse2 = !reverse2">Weight</a></div>
    </div>

    <div ng-show="showRating[group.name]" class="row row-rating" data-ng-repeat="rating in group.ratings | orderBy:predicate2:reverse2">
      <div class="col-sm-7"><a href="#/ratings/{{slug(rating.title)}}">{{rating.title}}</a></div>
      <div class="col-sm-2">{{rating.value}}</div>
      <div class="col-sm-2"><progressbar progress="rating.score"></div>
      <div class="col-sm-1"><span class="badge">{{(rating.weight / totalWeight)*100 | number:1}}%</span></div>
      <div class="col-sm-12">{{rating.suggestions.join(', ')}}</div>
    </div>
  </div>

</div>