<div class="col-md-12">
  <h1>{{rating.title}}</h1>
  <p>{{rating.description}}</p>
  <p>Weight: {{rating.weight}}</p>

  <table class="table">
    <thead>
      <tr>
        <th><a ng-click="predicate = 'page.name'; reverse = !reverse">Name</a></th>
        <th><a ng-click="predicate = 'rating.value'; reverse = !reverse">Value</a></th>
        <th><a ng-click="predicate = 'rating.score'; reverse = !reverse">Score</a></th>
        <th>Suggestions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pageRating in pageRatings | orderBy:predicate:reverse">
        <td><a href="#/pages/{{pageRating.page.id}}">{{pageRating.page.name}}</a></td>
        <td>{{pageRating.rating.value}}</td>
        <td class="score-{{pageRating.rating.score | points}}">{{pageRating.rating.score | number:2}}</td>
        <td>{{pageRating.rating.suggestions.join(', ')}}</td>
      </tr>
    </tbody>
  </table>
</div>