<div class="col-md-12">
  <h1>Rating Overview</h1>

  <table class="table">
    <thead>
      <tr>
        <td><a ng-click="predicate = 'title'; reverse = !reverse">Name</a></td>
        <td><a ng-click="predicate = 'score'; reverse = !reverse">Score</a></td>
        <td><a ng-click="predicate = 'points'; reverse = !reverse">Points</a></td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rating in allPageRatings | orderBy:predicate:reverse">
        <td><a href="#/ratings/{{slug(rating.title)}}">{{rating.title}}</a></td>
        <td class="score-{{rating.points}}">{{rating.score | number:2}}</td>
        <td>{{rating.points}}</td>
        <td>{{rating.description}}</td>
      </tr>
    </tbody>
  </table>
</div>